.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-weight: bolder;
    top: 5%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    color: red;
    width: 40%; /* Set the width of the positioned div */
}




.hide{
    display: none;
}

.productName{
    font-weight: 500;
}